{% extends 'base-front.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_index') }}"class="btn btn-outline-primary">back to list</a>
{% endblock %}
