{% extends 'base.html.twig' %}

{% block subtitle %}Evenements dans le passé{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        {% for event in events %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
